.display-background {
    background-color: darkgray;
    text-align: center;
    margin-top: 6%;
    padding-top: 2%;
    padding-bottom: 2%;

}

.keyboard-structure {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.keyboard {
    margin-top: 12px;

}