
<div class="display-background">
    <mat-grid-list cols="4" rowHeight="5:1" aria-rowspan="6" aria-colspan="4">
        <div>
            <app-display [displayExpression] = "displayExpression"></app-display>
        </div>
        <div class="keyboard-structure">
            <mat-grid-title *ngFor="let value of values">
                <app-card-button (btnPressedEvent)="btnPressed($event)" [value]="value" [buttonType]="buttonType"></app-card-button>
            </mat-grid-title>
        </div>
    </mat-grid-list>  
    

</div>
